%h1
  Dopey Doughy Boi

%h2
  2018 Global Game Jam

%iframe{:width => "560", :height => "315", :src => "https://www.youtube.com/embed/CwlZX6rhrQ4", :frameborder => "0", :allow => "allowfullscreen"}

%p
  Worked with a small team to create a fun, relaxing game in 48 hours.
  I composed music and integrated sounds as well as basic level design in Unity.
  Additionally, I put together our trailer through screencapturing and editing
  gameplay which I then set to music. 

%p
  %a{:href => "https://globalgamejam.org/2018/games/dopey-doughy-boi"}
    Global Game Jam Site

%p
  %a{:href => "https://github.com/RoboticPrism/DopeyDoughyBoi"}
    GitHub Repository
