%h1
  Uncanny Valley

%h2
  2017 Gr8 Art Games

%p
  Worked with a small team to create game in 48 hours.
  I composed music and integrated sounds as well as basic interaction design in Unity.

%p
  %a{:href => "https://itch.io/jam/gr8artgames-bos/rate/145284"}
    Itch.io Site

%p
  %a{:href => "https://github.com/RoboticPrism/ProjectUncannyValley"}
    GitHub Repository
