.navbar
  %a{:href => '/'}
    Home
  .navbar__dropdown
    %button
      Game Jams
    .navbar__dropdown-content
      %a{:href => '/game_jams/dopey_doughy_boi'}
        Dopey Doughy Boi
      %a{:href => '/game_jams/uncanny_valley'}
        Uncanny Valley
  .navbar__dropdown
    %button
      Video Editing
    .navbar__dropdown-content
      %a{:href => '/video_editing/portal_trailer'}
        Portal 2 Trailer
