%h1
  Portal 2 Trailer

%h2
  Music Across Media, Northeastern University

%iframe{:width => "560", :height => "315", :src => "https://www.youtube.com/embed/ZAqfwh_ftK8", :frameborder => "0", :allow => "allowfullscreen"}

%p
  I re-imagined what a trailer for Portal 2 could have been for a project in my
  class Music Across Media during the Fall of 2017. I edited the original Portal 2
  trailers into a new one, and synched it to "Map of the Problematique" by Muse.
